<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Photo Gallery</title>
</head>
<body>
  <h1>Photo Gallery</h1>
  <p>Showcase some pictures of Fernando Alonso.</p>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
  </nav>
</body>

<img src="/FernandoAlonso1.jpg" alt="Coche de Fernando Alonso">

</html>
