<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Teams F1</title>
</head>
<body>
  <h1>Teams F1</h1>
  <p>Find out who the components of each team are in F1.</p>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
  </nav>
</body>
<img src="/TeamsF1.jpg" alt="Teams 2024">
</html>
